* {
    /* background-color: orangered; */
    /* background-color:  #000000; */
    /* background-color: #131B23; */
    background-color: #7C3626;
    color: #0E1428;
    /* justify-content: center;
    text-align: center; */
}
